@font-face {
  font-family: Abel;
  src: url('../assets/abel.ttf');
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #FFF;
  color: #000;
  font-family: Abel;
}

body {
  display: flex;
  font-family: sans-serif;
  color: #525252;
  font-family: Abel;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
}

#app {
  height: 100%;
  width: 100%;
}

#header {
  height: 60px;
  width: 100%;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  color: #FFF;
  font-size: 20px;
  font-family: Abel;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: 25%;
  text-align: center;
  padding: 20px;
  color: #FFF;
  font-size: 40px;
  font-family: Abel;
  background: #5328b8;
}

#playground {
  position: fixed;
  height: 100%;
  width: 70%;
  left: 25%;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
  color: #000;
  font-size: 40px;
  font-family: Abel;
}

#fb_login {
  position: relative;
  top: 200px;
  width: 100%;
  height: 100%;
  color: #FFF;
  padding: 10px;
  text-align: center;
}

#login_btn {
  position: relative;
  top: 80px;
}

#logo {
  position: relative;
  top:30px;
}

#score_card {
  font-size: 40px;
  color: #000;
  position: relative;
  top: 0px;
}

#field_area {
  position: relative;
  top: 50px;
  width: 90%;
  height: 65%;
  left: 5%;
  align-self: center;
  text-align: center;
  align-items: center;
}

#field {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../assets/img/pitch.png");
  border-radius: 20px;
  background-size: 100% 100%;
}

.player_away {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: teal;
}

.away_away {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #f31818;
}

.team_name {
  font-size: 15px;
}

.left_right_margin {
  margin-left: 10px;
  margin-right: 10px;
}